body {
    text-align: center;
    align-items: center;
    padding-top: 200px;
    background-color: lightgoldenrodyellow;
}


h1, h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-style: italic;
    font-weight:lighter;
    color: gray;
    margin-left: -120px;

}

a{
    text-decoration:underline;
    font-style: italic;
    color: black;
}

ul{
    display: inline-block;
    text-align: left;
}